<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{item.nome}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="item.promocao === true" color="warning">
    <ion-text>
      <h1 style="text-align: center;">Item em promoção</h1>
    </ion-text>
  </ion-card>
  <ion-item>
    <ion-label>
      <img offset="3" class="imagem" src="{{item.imagem}}">
    </ion-label>
  </ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">       
        <ion-text color="primary">
          <h1>{{item.nome}}</h1>
          <h4>{{item.descricao}}</h4>
          <h2>R$ {{item.preco}}</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="3">
        <ion-label>Quantidade:</ion-label>
        <ion-row>
        <ion-button (click)="decre()">-</ion-button>
        <ion-input disabled type="number" #qProduto name="quantidade" required="true" [(ngModel)]="quantidade" ></ion-input>
        <ion-button (click)="incre()">+</ion-button>
      </ion-row>
      </ion-col>
      <ion-col size="4" offset="3">
        <ion-button [disabled]="quantidade == 0" (click)="additem()" expand="block"  shape="round" color="primary" >
          Comprar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>