.imagem{
    width: 50%;
    height: 50%;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
ion-input{
    --background: white;
    color: black;
    text-align: center;
    font-size: large;
}
ion-chip{
    padding: 0px;
    margin: 0px;
}
ion-button{
    margin: 0px;
}