<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let i of itemCarrinho">
      <ion-img class="imagem" [src]="i.produto.imagem"></ion-img>
      <ion-item padding>
        <ion-text>
          <p class="nome">{{i.produto.nome}}</p>
          <p>R$ {{i.produto.preco}}</p>
          <p>X {{i.quantidade}}</p>
        </ion-text>
      </ion-item> 
        <ion-button (click)="remover(i.produto.id)" fill="clear" shape="round">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Total: {{total}}</ion-title>
  </ion-toolbar>
</ion-footer>